.faction-terran   { --faction-color: #4ec9f0; }
.faction-eridani  { --faction-color: #ffb347; }
.faction-hydran   { --faction-color: #a77bff; }
.faction-planta   { --faction-color: #7fff7f; }
.faction-orion    { --faction-color: #ff6666; }
.faction-mechanema{ --faction-color: #c0c0ff; }
.faction-exiles   { --faction-color: #ffd966; }
.faction-rhoindi  { --faction-color: #66ffd1; }

.faction-magellan { --faction-color: #66aaff; }
.faction-wardens  { --faction-color: #ffaaee; }
.faction-enclave  { --faction-color: #ffdd88; }
.faction-shapers  { --faction-color: #88ffcc; }


/* Glow utility */
.glow-soft {
    box-shadow: var(--glow-soft);
}

